.than {
  background-color: #eeeeee;
  font-family: Arial;
}

.trangchu {
  width: 90%;
  margin: auto;
  background-color: white;
  font-size: 19px;
  line-height: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 1px 0 1px 10px;
}

.trangchu:hover {
  color: blue;
}

.trangchu a {
  text-decoration: none;
  color: #222;
}

.trangchu a:hover {
  color: #1e87d2;
  transition: all ease 0.4s;
}

.bang {
  width: 90%;
  margin: auto;
  border-spacing: 20px;
  color: #222;
}

.ten {
  font-size: 25px;
  font-weight: bold;
}

.anh-wrap {
  overflow: hidden;
  width: 450px;
  height: 450px;
  display: block;
  box-shadow: 0 4px 30px -16px rgb(0 0 0 / 60%);
  border-radius: 6px;
}

.anh {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  transition: all ease 0.3s;
  vertical-align: middle;
  border-radius: 6px;
}

.anh:hover {
  transform: scale(1.1);
}

.gia {
  font-size: 25px;
  font-weight: bold;
}

.soluong {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.gia, .chitiet, .soluong {
  margin-bottom: 14px;
}

.soluong:focus {
  border: 1px solid #999;
  transition: all ease .4s;
}

.mua {
  background-color: #1e87d2;
}

.goi {
  background-color: #ff7348;
  float: right;
}

.mua,
.goi {
  --height-font: 60px;
  height: var(--height-font);
  color: white;
  font-size: 25px;
  border-radius: 4px;
  cursor: pointer;
  width: 49%;
  border: none;
  text-align: center;
  user-select: none;
  line-height: var(--height-font);
}

.mua:hover,
.goi:hover {
  background-color: #607d8b;
  transition: all ease 0.4s;
}

.button-wrap {}

.button-wrap__label {
  display: inline-block;
  margin: 0 auto;
}

.chitiet {
  font-size: 19px;
  line-height: 22px;
  width: 100%;
}

.accordion {
  background-color: white;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  padding: 25px;
  /* width: 1120px; */
  border: 1px solid #dddddd;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 1px;
  border-radius: 5px;
}

.accordion:hover {
  color: #1e87d2;
}

.accordion:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  margin-top: 2px;
  max-height: 0;
  background-color: white;
  overflow: hidden;
  /* width: 1120px; */
  transition: max-height 0.2s ease-out;
  border-radius: 5px;
}

.panel>p {
  padding: 25px;
}

.header-nav__link {
  text-decoration: none;
  display: block;
  color: var(--white-color);
  font-weight: 500;
  font-size: 2rem;
  padding-left: 14px;
}

/* Begin info annouce */

.annouce-wrap {
  position: fixed;
  top: 150px;
  right: 123px;
  left: 123px;
  bottom: 150px;
  z-index: 2;
  transition: all ease-in-out .3s;
  /* opacity: 0; */
  display: block;
}

.annouce-head {
  border-radius: 6px;
}

.annouce-head__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.annouce-head__check-icon {
  padding-right: 1rem;
}

.annouce-head__title {
  font-weight: 500;
}

.annouce-head__close-icon, .annouce-head__check-icon {
  font-weight: 900 !important;
}

.annouce-head__close-icon {
  cursor: pointer;
}

.annouce-head__body {
  position: relative;
  background-color: var(--white-color);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

}

.annouce-head__body-img {
  display: inline-block;
  --img-size: 153px;
  height: var(--img-size);
  width: var(--img-size);
}

.annouce-head__body-img img {
  height: 100%;
  width: 100%;
  border-right: 1px solid #ddd;
  object-fit: contain;
}

.annouce-head__body-content {
  position: absolute;
  top: 18px;
  left: 168px;
  display: inline-block;
  font-size: 1.6rem;
}

.annouce-head__body-name {
  color: var(--primary-color);
}

.annouce-head__body-name, .annouce-head__body-amount {
  margin-bottom: 10px;
}

.annouce-head__body-amount>span, .annouce-head__body-total>span {
  font-weight: 600;
  color: var(--text-color);
}

.annouce-head__body-total {}

.annouce-middle__content {}

.annouce-middle__content, .annouce-tail__check-cart {
  padding: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.annouce-tail__check-cart:hover, .annouce-middle__content:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 6px;
}

.annouce-middle, .annouce-tail {
  text-align: center;
  margin-top: 6px;
  border-radius: 6px;
}

.annouce-middle, .annouce-tail {
  background-color: var(--white-color);
}

.annouce-tail {}

.annouce-tail__check-cart {
  color: var(--text-color);
  display: block;
}

/* End info annouce */